{#include "mail/base.fr.html"}
{#content}
<p>Bonjour {params.recipientName},</p>
<p>{params.senderName} vous a écrit au sujet de votre annonce &laquo;&nbsp;{params.adName}&nbsp;&raquo; sur {params.appName}&nbsp;:</p>
<blockquote style="margin:16px 0;padding:12px 16px;border-left:4px solid #dddddd;white-space:pre-wrap;">{params.message}</blockquote>
<p>Vous pouvez répondre directement à cet e-mail&nbsp;: votre réponse partira vers l'adresse de {params.senderName}. Votre propre adresse ne lui a pas été communiquée.</p>
<p>L'annonce&nbsp;: <a href="{params.adUrl}">{params.adUrl}</a></p>
<p>Si vous ne souhaitez plus être contacté de cette façon, désactivez l'option dans votre profil.</p>
{/content}
{/include}
